Source: galinette
Priority: extra
Maintainer: Paul McEnery <pmcenery@gmail.com>
Build-Depends: quilt (>= 0.46-7~),
               debhelper (>= 7),
               cmake,
               libdbus-1-dev (>= 1.2.12),
               libdbus-glib-1-dev (>= 0.80),
               libftdi-dev (>= 0.13),
               libglade2-dev (>= 2.6.4),
               libgtk2.0-dev (>= 2.16.1),
               libhal-dev (>= 0.5.12)
Standards-Version: 3.8.4
Section: utils
Homepage: http://galinette.sourceforge.net
Vcs-Git: http://github.com/pmcenery/galinette-debian.git
Vcs-Browser: http://github.com/pmcenery/galinette-debian

Package: libgalinette-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libgalinette0 (= ${binary:Version})
Description: Library for communicating with Flymaster® B1 avionics devices
 Galinette is a complete flight suite for Flymaster® B1 avionics devices.
 The project is an Open Source initiative which is in no way affiliated with
 the manufacturer. Flymaster® have however been very supportive of the
 project, by supplying product information and specifications.
 The following features have been implemented:
 .
   * Flash B1 firmware.
   * Automatic firmware integrity validation.
   * CLI and GTK+ interface.
   * HAL based device detection.
 .
 This package contains the development files

Package: libgalinette
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for communicating with Flymaster® B1 avionics devices
 Galinette is a complete flight suite for Flymaster® B1 avionics devices.
 The project is an Open Source initiative which is in no way affiliated with
 the manufacturer. Flymaster® have however been very supportive of the
 project, by supplying product information and specifications.
 The following features have been implemented:
 .
   * Flash B1 firmware.
   * Automatic firmware integrity validation.
   * CLI and GTK+ interface.
   * HAL based device detection.

Package: galinette-nox
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgalinette0 (= ${binary:Version})
Description: CLI for communicating with Flymaster® B1 avionics devices
 Galinette is a complete flight suite for Flymaster® B1 avionics devices.
 The project is an Open Source initiative which is in no way affiliated with
 the manufacturer. Flymaster® have however been very supportive of the
 project, by supplying product information and specifications.
 The following features have been implemented:
 .
   * Flash B1 firmware.
   * Automatic firmware integrity validation.
   * CLI and GTK+ interface.
   * HAL based device detection.
 .
 This package contains the command-line utility

Package: galinette
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgalinette0 (= ${binary:Version})
Description: GUI for communicating with Flymaster® B1 avionics devices
 Galinette is a complete flight suite for Flymaster® B1 avionics devices.
 The project is an Open Source initiative which is in no way affiliated with
 the manufacturer. Flymaster® have however been very supportive of the
 project, by supplying product information and specifications.
 The following features have been implemented:
 .
   * Flash B1 firmware.
   * Automatic firmware integrity validation.
   * CLI and GTK+ interface.
   * HAL based device detection.
 .
 This package contains the graphical utility
